/*********************************menu**********************************/
#main-menu{ 
    width:960px;
}

.menu {
	padding:0; 
	width:100%;

}
.menu > li {
	float:left;
    background: #7E053E;
	position:relative;
	border-right:1px solid #d1d1d1;
	width:191px;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0px;
	padding-left: 0;
}
.menu > li:first-child {
	border-left:0px solid #fff;
}
.menu > li a {
	display:block;
	font-size:12px;
	line-height:18px;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	font-weight:bold;
	border-right:0px solid #fff;
	border-left:0px solid #fff;
	padding-top:12px;
	height:17px;
	padding-right: 0;
	padding-bottom: 18px;
	padding-left: 0px;
}
.menu > li > a:hover, .menu > li > a.active, .menu > li.sfHover > a {background:#2A2824 repeat 0 0;}

.menu li:hover {visibility:	inherit; }

.menu li strong {
	position:absolute;
	display:block;
	background:url(../images/corner.png) no-repeat 0 0;
	top:17px;
	left:170px;
	cursor:pointer;
	height:7px;
	width:11px;
}

/******************************** submenu **************************************/
.menu ul {
	position:		absolute;
	padding:		6px 0;
	top:			-999em;
	width:			240px;
	background: url(../images/ul-bg.gif) repeat 0 0;
}

.menu li li {padding:0px 7px; background:none;}
.menu li li a {
	display:block;
	color:#1f0e02;
	padding:		8px 0 13px 14px;
	text-align:		left;
	border:none;
	background:url(../images/hover-2.png) no-repeat 0 -45px;
}

.menu li:hover ul, .menu li.sfHover ul {
	left:			0px;
	top:			47px;
	z-index:		999;
}
ul.menu li:hover li ul, ul.menu li.sfHover li ul {
	top:			-999em;
}

.menu li li a:hover, .menu li li.sfHover > a {background-position:0 0;color:#FFF;}

/******************************** submenu 2 **************************************/
ul.menu li li:hover ul, ul.menu li li.sfHover ul {
	left:			214px;
	top:			39px;
	z-index:		9999;
}
ul.menu li li:hover li ul, ul.menu li li.sfHover li ul {
	top:			-999em;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
#main-menu{ width:748px;}
.menu > li {width:107px;}
.menu > li a {padding-left:10px;}
.menu li strong {left:90px;}
}
@media only screen and (max-width: 767px) {
#main-menu{ width:300px;}
.menu > li {float:none;width:100%; border-right:none;border-bottom:1px solid #d1d1d1;}
.menu > li:first-child {border-left:none;border-top:1px solid #d1d1d1;}
.menu > li a {border-bottom:1px solid #fff;border-top:1px solid #fff;border-right:none;border-left:none;text-align:center;padding-left:0;}
.menu li li a {text-align:center;background-image:url(../images/hover-5.png);padding-left:0;}
.menu li li li a {text-align:center;background-image:url(../images/hover-6.png);}
.menu li strong {left:200px;}
.menu ul {position:relative !important;top:0 !important;width:300px;border:none;left:0 !important;}
.menu ul ul {width:284px;}
.social-buttons {width:190px;padding: 18px 0 18px 110px !important;}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
#main-menu{ width:420px;}	
.social-buttons {width:250px;padding: 18px 0 18px 170px !important;}
.menu li strong {left:260px;}
.menu ul {left:0px !important;width:420px;}
.menu ul ul {width:404px;}
.menu li li a {background-image:url(../images/hover-3.png);}
.menu li li li a {background-image:url(../images/hover-4.png);}
}
